*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 80vw;
  margin: auto;
}
li{
  list-style-type: none;
}
Link{
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}